.bg-base-color {
    background-color: rgba(66, 66, 66, 0.3);
}

.mat-header {
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
}

.l-r-4 {
    left: 4.2rem !important;
    right: 4.2rem !important;
}